In [1]:
import pandas as pd
import numpy as np

In [2]:
# reading the dataset
# The dataset is a CSV file containing SMS messages labeled as spam or ham
df = pd.read_csv("spam.csv", encoding="iso-8859-1")

df.shape

(5572, 5)

In [3]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
3805,spam,URGENT! We are trying to contact you. Last wee...,NaN,NaN,NaN
4011,ham,Discussed with your mother ah?,NaN,NaN,NaN
2246,spam,Hi ya babe x u 4goten bout me?' scammers getti...,NaN,NaN,NaN
4984,ham,Dont let studying stress you out. L8r.,NaN,NaN,NaN
2431,ham,That's good. Lets thank God. Please complete t...,NaN,NaN,NaN

## Data Cleaning

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [5]:
df.drop(columns=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], inplace=True)
df.rename(columns={"v1": "label", "v2": "message"}, inplace=True)
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
from sklearn.preprocessing import LabelEncoder
# Encoding the labels (spam and ham) into numerical values
encoder = LabelEncoder()
df["label"] = encoder.fit_transform(df["label"])

array([0, 0, 1, ..., 0, 0, 0], shape=(5572,))